---
import projectsData from "../../projectsData.json";
const categorySet = new Set();
projectsData.forEach((p) => {
  p.tags.forEach((t) => {
    categorySet.add(t);
  });
});
const categories = Array.from(categorySet);
---

<style lang="scss">
  .projects {
    display: flex;
    gap: 1rem;
  }

  .categories {
    width: 20%;
  }

  .list {
    width: 80%;
  }

  .category {
    background-color: #ccc;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: red;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
  }

  .img {
    width: 300px;
    height: auto;
  }

  .title {
    font-size: 1.2rem;
  }

  .tags {
    display: flex;
    gap: 1rem;
  }

  .tag {
    background-color: #ddd;
    padding: 0.2rem 0.5rem;
  }
</style>

<script>
  function categoryClicked(a: {}) {
    alert(JSON.stringify(a));
  }

  const cats = document.getElementById("categoriesParent");
  cats?.addEventListener("click", categoryClicked);
</script>

<div class="projects">
  <div class="categories">
    <div>
      <h3>Kategoriler</h3>
      <button class="btn w-full">Etikete Göre Filtrele</button>
      <div id="categoriesParent" class="w-full tac">
        {categories.map((c) => <div class="category">{c}</div>)}
      </div>
    </div>
  </div>
  <div class="list">
    <div>
      <h3>Projeler</h3>
      <div class="cards">
        {
          projectsData.map((p, i) => (
            <div class="card">
              <a href={`/proje/${p.slug}`}>
                <div class="img">
                  <img src={p.img} alt="tweeter" />
                </div>
                <div class="title">{p.title}</div>
                <div class="tags">
                  {p.tags.map((tag, i) => (
                    <div class="tag">{tag}</div>
                  ))}
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
